$text-color: #0E0B15;
$tablet-break-point: 768px;

html {
    box-sizing: border-box;
  }

  //inherit border-box on all elements in the universe and before and after
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $text-color;
}

section, header {
    padding: 20px 5% 0px 5%;
}

//Reusable Classes.
.section-title {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;    
}

.space-divider {
    margin-top: 50px;
}

.project-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 222px;
    height: 131px;
    border-radius: 20px;
    border: 2px solid $text-color;
    img {
        max-width: 100%;
        height: auto;
        
    }
}

.project-card-title {
    padding-top: 10px;
    padding-left: 5px;        
}

//NAVBAR - MOBILE and Tablet
.navbar {
    text-align: end;
    padding-top: 20px;
    padding-right: 20px;
    background-color: aliceblue; 
    .navbar-hamburger {
        cursor: pointer;
    }
    .is-active {
        text-align: start;
    }

    .navbar-items {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: hidden;
        height: 100%;
        width: 0px;
        transition: .5s;
        .close {
            align-self: flex-start;
            font-size: 24px;
            padding-top: 20px;
            padding-left: 20px;
        }

        .navbar-item {
            padding: 20px;
            color: $text-color;
            text-decoration: none;
            width: 132px;
        }
    }

    .is-active {
        width: 100%;
    }
}


//HOME section - Mobile
.home-wrapper {
    grid-column: 1/5;

    .landing-wrapper {
        background-color: aliceblue;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
    }
    .landing-title {
        letter-spacing: 2px;
        font-weight: bold;
    }

    .landing-logos {
        width: 40%;
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        color: black;

        a {
            color: black;
            text-decoration: none;
        }
    }

    //projects home section.
    .home-projects-wrapper {


        .project-cards-container {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            .btn {
                align-self: flex-end;
                padding: 10px 20px;
                border-radius: 20px;
                border: 2px solid $text-color;
                color: $text-color;
                font-size: 12px;
                font-weight: bold;
                cursor: pointer;
                transition: .5s;
            }

            .btn:hover {
                background-color: $text-color;
                color: white;
                transition: .5s;
            }
        }

        .project-card {
            margin-top: 20px;
        }
    }

    //About Me Home Section
    .home-about-me-wrapper {
        .sub-title {
            font-weight: bold;
        }

        .about-me-container {
            width: 80%;

            div {
                font-size: 13px;
            }
        }
    }


    //SKills List Home
    .home-skills-wrapper {
        .skills-list {
            display: grid;
            grid-template-columns: repeat(3, 36%);
            grid-row-gap: 10px;
        }
    }


    //Contact Me Home
    .contact-list {
        a {
            color:black;
            text-decoration: none;
        }
        svg {
            margin-right: 50px;
        }
    }
}

.show-img {
    display: none;
}

.footer {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 12px;
    background-color: aliceblue;
}

@import './styles//tablet.scss';
@import './styles//desktop.scss';